Plant disease dataset.zip
Plant disease dataset
Apple/train/
Apple/val
Apple100/train/
Apple100/val
Healthy_dump
attempt_002.h5
attempt_002 - u should extract this instead.zip
attempt_003.h5
attempt_004.h5
attempt_005.h5
attempt_006.h5
attempt_007.h5